In [1]:
# import pandas
import pandas as pd

In [2]:
# load our cleaned and transformed happiness data
happiness_data =  pd.read_csv("Resources/Output/Happiness_Data_Transformed.csv")

In [3]:
# display the dataframe
happiness_data

,Unnamed: 0,country,happiness score,gdp per capita,healthy life expectancy,year
0,0,Switzerland,7.587,1.39651,0.94143,2015
1,1,Iceland,7.561,1.30232,0.94784,2015
2,2,Denmark,7.527,1.32548,0.87464,2015
3,3,Norway,7.522,1.45900,0.88521,2015
4,4,Canada,7.427,1.32629,0.90563,2015
...,...,...,...,...,...,...
309,151,Rwanda,3.334,0.35900,0.61400,2019
310,152,Tanzania,3.231,0.47600,0.49900,2019
311,153,Afghanistan,3.203,0.35000,0.36100,2019
312,154,Central African Republic,3.083,0.02600,0.10500,2019
313,155,South Sudan,2.853,0.30600,0.29500,2019

In [4]:
# drop the Unnamed:0 column that has appeared.
happiness_data = happiness_data.drop(columns=["Unnamed: 0"])

In [5]:
# display the dataframe
happiness_data

,country,happiness score,gdp per capita,healthy life expectancy,year
0,Switzerland,7.587,1.39651,0.94143,2015
1,Iceland,7.561,1.30232,0.94784,2015
2,Denmark,7.527,1.32548,0.87464,2015
3,Norway,7.522,1.45900,0.88521,2015
4,Canada,7.427,1.32629,0.90563,2015
...,...,...,...,...,...
309,Rwanda,3.334,0.35900,0.61400,2019
310,Tanzania,3.231,0.47600,0.49900,2019
311,Afghanistan,3.203,0.35000,0.36100,2019
312,Central African Republic,3.083,0.02600,0.10500,2019
313,South Sudan,2.853,0.30600,0.29500,2019

In [6]:
# load our cleaned and transformed alcohol consumption data
alcohol_data = pd.read_csv("Resources/Output/Alcohol_Data_Transformed.csv")

In [7]:
# display the data frame
alcohol_data

     Unnamed: 0                   country  year  litres per capita average
0             0               Afghanistan  2019                        0.0
1             1                     Yemen  2019                        0.0
2             2                     Libya  2019                        0.0
3             3                Bangladesh  2019                        0.0
4             4                    Kuwait  2019                        0.0
..          ...                       ...   ...                        ...
371         371                      Niue  2015                        9.6
372         372                 Argentina  2015                        9.6
373         373               Netherlands  2015                        9.6
374         374  United States of America  2015                        9.8
375         375                     Japan  2015                        9.9

[376 rows x 4 columns]

In [8]:
# drop the new Unnamed:0 column that has appeared
alcohol_data = alcohol_data.drop(columns=["Unnamed: 0"])

In [9]:
# set the country as the index
alcohol_data = alcohol_data.set_index("country")

In [11]:
# display the data frame
alcohol_data

                          year  litres per capita average
country
Afghanistan               2019                        0.0
Yemen                     2019                        0.0
Libya                     2019                        0.0
Bangladesh                2019                        0.0
Kuwait                    2019                        0.0
...                        ...                        ...
Niue                      2015                        9.6
Argentina                 2015                        9.6
Netherlands               2015                        9.6
United States of America  2015                        9.8
Japan                     2015                        9.9

[376 rows x 2 columns]

In [12]:
# merge the 2 imported Alcohol Consumption Data and Happiness Data on Country and Year
merged_df = happiness_data.merge(alcohol_data, on=["country","year"])

In [13]:
#display the data frame
merged_df

,country,happiness score,gdp per capita,healthy life expectancy,year,litres per capita average
0,Switzerland,7.587,1.39651,0.94143,2015,11.5
1,Iceland,7.561,1.30232,0.94784,2015,8.7
2,Denmark,7.527,1.32548,0.87464,2015,10.4
3,Norway,7.522,1.45900,0.88521,2015,7.1
4,Canada,7.427,1.32629,0.90563,2015,9.0
...,...,...,...,...,...,...
259,Malawi,3.410,0.19100,0.49500,2019,4.1
260,Yemen,3.380,0.28700,0.46300,2019,0.0
261,Rwanda,3.334,0.35900,0.61400,2019,8.0
262,Afghanistan,3.203,0.35000,0.36100,2019,0.0
263,Central African Republic,3.083,0.02600,0.10500,2019,1.7

In [14]:
#reorder columns
merged_df = merged_df[["country","year","litres per capita average","happiness score","gdp per capita","healthy life expectancy"]]

In [15]:
#check for null values
merged_df.isnull().sum()

country                      0
year                         0
litres per capita average    0
happiness score              0
gdp per capita               0
healthy life expectancy      0
dtype: int64

In [16]:
# check values
merged_df.value_counts()

country      year  litres per capita average  happiness score  gdp per capita  healthy life expectancy
Afghanistan  2015  0.0                        3.575            0.31982         0.30335                    1
Nicaragua    2019  5.1                        6.105            0.69400         0.83500                    1
Morocco      2015  0.4                        5.013            0.73479         0.60954                    1
             2019  0.5                        5.208            0.80100         0.78200                    1
Mozambique   2015  2.3                        4.971            0.08308         0.09131                    1
                                                                                                         ..
Greece       2015  10.8                       4.857            1.15406         0.88213                    1
             2019  10.5                       5.287            1.18100         0.99900                    1
Guatemala    2015  1.7                        6.123            0.74553         0.64425                    1
             2019  1.6                        6.436            0.80000         0.74600                    1
Zimbabwe     2019  4.5                        3.663            0.36600         0.43300                    1
Length: 264, dtype: int64

In [17]:
# set country as the index
merged_df = merged_df.set_index("country")
merged_df

,year,litres per capita average,happiness score,gdp per capita,healthy life expectancy
country,,,,,
Switzerland,2015,11.5,7.587,1.39651,0.94143
Iceland,2015,8.7,7.561,1.30232,0.94784
Denmark,2015,10.4,7.527,1.32548,0.87464
Norway,2015,7.1,7.522,1.45900,0.88521
Canada,2015,9.0,7.427,1.32629,0.90563
...,...,...,...,...,...
Malawi,2019,4.1,3.410,0.19100,0.49500
Yemen,2019,0.0,3.380,0.28700,0.46300
Rwanda,2019,8.0,3.334,0.35900,0.61400
Afghanistan,2019,0.0,3.203,0.35000,0.36100
Central African Republic,2019,1.7,3.083,0.02600,0.10500

In [18]:
# rename columns for loading into Postgre SQL - I think spaces are not supported so have replaced with underscores.
merged_df = merged_df.rename(columns={"litres per capita average":"litres_per_capita_average", "happiness score":"happiness_score", "gdp per capita":"gdp_per_capita", "healthy life expectancy":"healthy_life_expectancy"})
merged_df

,year,litres_per_capita_average,happiness_score,gdp_per_capita,healthy_life_expectancy
country,,,,,
Switzerland,2015,11.5,7.587,1.39651,0.94143
Iceland,2015,8.7,7.561,1.30232,0.94784
Denmark,2015,10.4,7.527,1.32548,0.87464
Norway,2015,7.1,7.522,1.45900,0.88521
Canada,2015,9.0,7.427,1.32629,0.90563
...,...,...,...,...,...
Malawi,2019,4.1,3.410,0.19100,0.49500
Yemen,2019,0.0,3.380,0.28700,0.46300
Rwanda,2019,8.0,3.334,0.35900,0.61400
Afghanistan,2019,0.0,3.203,0.35000,0.36100
Central African Republic,2019,1.7,3.083,0.02600,0.10500

In [19]:
#sort by litres alcohol consumed descending
merged_df = merged_df.sort_values(by=["litres_per_capita_average"], ascending=False)
merged_df

,year,litres_per_capita_average,happiness_score,gdp_per_capita,healthy_life_expectancy
country,,,,,
Lithuania,2015,15.4,5.833,1.14723,0.73128
Estonia,2015,14.4,5.429,1.15174,0.77361
Latvia,2019,13.2,5.940,1.18700,0.81200
Germany,2015,13.0,6.750,1.32792,0.89186
Uganda,2015,13.0,3.931,0.21102,0.33861
...,...,...,...,...,...
Bangladesh,2019,0.0,4.456,0.56200,0.72300
Mauritania,2015,0.0,4.436,0.45407,0.35874
Mauritania,2019,0.0,4.490,0.57000,0.48900
Bangladesh,2015,0.0,4.694,0.39753,0.60164
Kuwait,2019,0.0,6.021,1.50000,0.80800

In [20]:
# export to CSV
merged_df.to_csv("Resources/Final_Merged_Data.csv")