In [1]:
import pandas as pd

In [2]:
Happiness_2015_df = pd.read_csv("Resources/2015.csv")
Happiness_2015_df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [3]:
transformed_Happiness_2015_df=Happiness_2015_df.drop(columns=['Happiness Rank','Region','Standard Error','Family','Dystopia Residual','Freedom','Trust (Government Corruption)','Dystopia Residual','Generosity'])
renamed_Happiness_2015_df=transformed_Happiness_2015_df.rename(columns={'Country':'country',
 'Happiness Score':'happiness score','Economy (GDP per Capita)':'gdp per capita',
'Health (Life Expectancy)': 'healthy life expectancy'})
renamed_Happiness_2015_df['year']=2015
renamed_Happiness_2015_df

,country,happiness score,gdp per capita,healthy life expectancy,year
0,Switzerland,7.587,1.39651,0.94143,2015
1,Iceland,7.561,1.30232,0.94784,2015
2,Denmark,7.527,1.32548,0.87464,2015
3,Norway,7.522,1.45900,0.88521,2015
4,Canada,7.427,1.32629,0.90563,2015
...,...,...,...,...,...
153,Rwanda,3.465,0.22208,0.42864,2015
154,Benin,3.340,0.28665,0.31910,2015
155,Syria,3.006,0.66320,0.72193,2015
156,Burundi,2.905,0.01530,0.22396,2015
157,Togo,2.839,0.20868,0.28443,2015

In [4]:
Happiness_2019_df = pd.read_csv("Resources/2019.csv")
Happiness_2019_df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [5]:
transformed_Happiness_2019_df=Happiness_2019_df.drop(columns=['Overall rank','Freedom to make life choices', 'Generosity','Perceptions of corruption','Social support'])
renamed_Happiness_2019_df=transformed_Happiness_2019_df.rename(columns={'Country or region' : 'country', 'Score' : 'happiness score', 'GDP per capita' : 'gdp per capita',
'Healthy life expectancy': 'healthy life expectancy'})
renamed_Happiness_2019_df['year']=2019
renamed_Happiness_2019_df

,country,happiness score,gdp per capita,healthy life expectancy,year
0,Finland,7.769,1.340,0.986,2019
1,Denmark,7.600,1.383,0.996,2019
2,Norway,7.554,1.488,1.028,2019
3,Iceland,7.494,1.380,1.026,2019
4,Netherlands,7.488,1.396,0.999,2019
...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.614,2019
152,Tanzania,3.231,0.476,0.499,2019
153,Afghanistan,3.203,0.350,0.361,2019
154,Central African Republic,3.083,0.026,0.105,2019
155,South Sudan,2.853,0.306,0.295,2019

In [6]:
merged_df=pd.concat([renamed_Happiness_2015_df, renamed_Happiness_2019_df])
merged_df

,country,happiness score,gdp per capita,healthy life expectancy,year
0,Switzerland,7.587,1.39651,0.94143,2015
1,Iceland,7.561,1.30232,0.94784,2015
2,Denmark,7.527,1.32548,0.87464,2015
3,Norway,7.522,1.45900,0.88521,2015
4,Canada,7.427,1.32629,0.90563,2015
...,...,...,...,...,...
151,Rwanda,3.334,0.35900,0.61400,2019
152,Tanzania,3.231,0.47600,0.49900,2019
153,Afghanistan,3.203,0.35000,0.36100,2019
154,Central African Republic,3.083,0.02600,0.10500,2019
155,South Sudan,2.853,0.30600,0.29500,2019

In [7]:
merged_df.to_csv("Resources/Happiness_Data_Transformed.csv")